@charset "utf-8";

html{
    overflow-y: visible;
    min-height: 240vh;
}

.page-header{
    min-height: 72px;
    background: #bbb;
}

.page-header .brand {
  font-family: "Spoqa Han Sans";
  font-size: 1.875rem;
  letter-spacing: -0.025em;
}

.brand a {
  display: block;
  margin-top: 21px;
  text-decoration: none;
  color: #fff;
}